@model ErrorViewModel
@{
    ViewData["Title"] = Model == null? "Ocorreu um Erro" : Model.Titulo;
}
@{
    if(Model == null)
    {
        <div>
            <h2>Ops! Ocorreu um Erro!</h2>
        </div>
    }
}
@{
    if(Model != null)
    {
        <h1>@Html.Raw(Model.Titulo)</h1>
        <h2 class = "text-danger">@Html.Raw(Model.Mensagem)</h2>
    }
}