@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Essa Página é secreta</p>
<p>Teste</p>

@{
    if (this.IfClaim("Produtos", "Ler")) {
    <p>Permissão para ler !</p>
    }
}

<div>
    @Html.ActionLink("Scret","Secret").ifClaimShow(Context,"Produtos","Ler")
</div>

<br/>

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos","Excluirr"))">Exluir</a>
</div>

