<html>
    <body>
        <header>
            Menu
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            Footer
        </footer>
    </body>
</html>